@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/*My styles*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: cornsilk;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #8800ff;
    flex-shrink: 0;
    flex-grow: 0;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 50px;
    color: #000000;
}
.btn-container{
    display: flex;
    gap: 30px;

}

.btn-state{
    color: #f05;
}
.state-on{
    color: #790;
}

button {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 5px outset #c0c0c0;
    width: 150px;
    height: 50px;

    flex: 1 0 fit-content;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    box-shadow: #00000050 3px 3px 2px 2px;
}

button:active {
    background-color: #f0f0f0;
    border: 5px inset #c0c0c0;
    color: #585858;
    padding: 5px 0 0 5px;
    box-shadow: inset 0px 0px 2px 2px #00000030;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #00dddd
;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: #f0f0f0;
    align-items: flex-start;
}
.grid-row {
    display: flex;
    width: 100%;
}

.grid-cell {
    flex: 1 1 0px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.painted {
    background-color: #ff0055;
    /* transition: background-color 2s; */
}