body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c4cdca;
}
.container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container div{
    flex-shrink: 0;
    height: 48px;
    width: 48px;
    border: 1px solid black;
    margin: -1px;
}